* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-weight: 400;
  color: black;
}

p {
  line-height: 100%;
}

a {
  text-decoration: none;
  line-height: 100%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

input,
textarea {
  outline: none;
}

.container {
  max-width: 1212px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.btn {
  border-radius: $radius;
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  text-transform: uppercase;
  transition: transform 0.1s linear;

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-white;
  }

  &--secondary {
    border: 1px solid #6f6d7b;
    background-color: $color-white;
    color: #2a2b30;
  }

  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
