// start header

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #10101de5;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 999;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-family: $font-secondary;
    font-weight: $font-weight-extrabold;
    font-size: $font-size-2xl;
    text-transform: uppercase;
    color: $color-white;

    &-accent {
      color: $color-blue;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__nav-item {
    &--active {
      .header__nav-link {
        color: $color-blue;
      }
    }
  }

  &__nav-link {
    color: $color-white;
    font-weight: $font-weight-semibold;
    font-size: $font-size-xs;
    text-transform: uppercase;
  }

  .burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    position: relative;
    z-index: 200;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background: $color-white;
      border-radius: 2px;
      transition: 0.3s ease;
      position: absolute;
      left: 0;

      &:nth-child(1) {
        top: 4px;
      }
      &:nth-child(2) {
        top: 11px;
      }
      &:nth-child(3) {
        top: 18px;
      }
    }

    &.active span {
      background: transparent;
    }

    &.active::before,
    &.active::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      background: $color-white;
      border-radius: 2px;
      transform-origin: center;
    }

    &.active::before {
      transform: rotate(45deg);
    }

    &.active::after {
      transform: rotate(-45deg);
    }
  }

  @media (max-width: 1212px) {
    height: 70px;

    &__logo {
      font-size: $font-size-xl;
    }

    &__nav-list {
      gap: 20px;
    }
  }

  @media (max-width: 576px) {
    .burger {
      display: block;
    }

    &__nav-list {
      display: none;

      &.opened {
        display: flex;
        position: absolute;
        top: 70px;
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        background-color: $color-secondary;
      }
    }
  }
}

// end header

// start hero section

.hero {
  background-image: url('/src/assets/images/hero-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  &__title {
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 80px;
    max-width: 820px;
    width: 100%;

    &-accent {
      color: $color-blue;
    }
  }

  &__text {
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 5px;

    &-item {
      font-size: $font-size-xl;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 30px;

    .btn {
      width: 183px;
      height: 43px;
    }
  }

  @media (max-width: 1212px) {
    &__title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__text {
      font-size: $font-size-base;
    }

    &__list {
      margin-bottom: 40px;

      &-item {
        font-size: $font-size-base;
      }
    }
  }

  @media (max-width: 576px) {
    &__title {
      font-size: $font-size-2xl;
      margin-bottom: 20px;
    }

    &__text {
      font-size: $font-size-xs;
    }

    &__list {
      margin-bottom: 20px;

      &-item {
        font-size: $font-size-xs;
      }
    }
  }
}

// end hero section

// start order

.order {
  background-color: $color-secondary;
  position: relative;
  z-index: 1;
  padding-top: 120px;
  padding-bottom: 150px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/src/assets/images/form-bg.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
  }

  &__title {
    font-weight: $font-weight-extrabold;
    font-size: $font-size-3xl;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    margin-bottom: 30px;

    span {
      color: $color-blue;
    }
  }

  &__subtitle {
    text-align: center;
    color: #bbbbbb;
    font-size: $font-size-lg;
    margin-bottom: 80px;
  }

  &__steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 80px;
  }

  &__steps-item {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    &::after {
      content: '';
      background-image: url(/src/assets/images/icons/dots.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 6px;
      position: absolute;
      top: 40%;
      right: -30px;
      transform: translate(-50%, -50%);
    }

    &:first-child::after {
      content: none;
    }
  }

  &__steps-icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 5px solid #286690;
    outline-offset: -5px;
    border-radius: $radius-lg;
    -webkit-border-radius: $radius-lg;
    -moz-border-radius: $radius-lg;
    -ms-border-radius: $radius-lg;
    -o-border-radius: $radius-lg;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
  }

  &__steps-text {
    font-size: $font-size-base;
    color: $color-white;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
    }
  }

  &__submit {
    max-width: 370px;
    width: 100%;
    height: 48px;
    margin: 10px auto 0;
  }

  &__range {
    width: 66%;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      gap: 20px;
    }

    &-title {
      font-size: $font-size-lg;
      color: $color-white;
    }

    &-value {
      font-size: $font-size-lg;
      color: #ffffffd9;
      font-weight: $font-weight-semibold;
      white-space: nowrap;
    }

    &-input {
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      background: #ccc;
      border: 1px solid $color-white;
      border-radius: 10px;
      outline: none;
    }

    /* ---------- Chrome / Safari / Edge ---------- */
    &-input::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 23.7189998626709px;
      height: 23.7189998626709px;
      border-radius: 50%;
      background-color: #42a9ed;
      border: 3px solid #286690;
      cursor: pointer;
      margin-top: -9px;
    }

    /* Track */
    &-input::-webkit-slider-runnable-track {
      height: 6px;
      background: #ccc;
      border: 1px solid $color-white;
      border-radius: 10px;
    }

    /* ---------- Firefox ---------- */
    &-input::-moz-range-thumb {
      width: 23.7189998626709px;
      height: 23.7189998626709px;
      border-radius: 50%;
      background-color: #42a9ed;
      border: 3px solid #286690;
      cursor: pointer;
    }

    &-input::-moz-range-track {
      height: 6px;
      background: #ccc;
      border: 1px solid $color-white;
      border-radius: 10px;
    }

    /* ---------- IE/Edge Legacy ---------- */
    &-input::-ms-thumb {
      width: 23.7189998626709px;
      height: 23.7189998626709px;
      border-radius: 50%;
      background-color: #42a9ed;
      border: 3px solid #286690;
    }

    &-input::-ms-track {
      height: 6px;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &-input::-ms-fill-lower,
    &-input::-ms-fill-upper {
      background: #ccc;
      border: 1px solid $color-white;
      border-radius: 10px;
    }
  }

  &__file {
    border-radius: $radius-sm;
    -webkit-border-radius: $radius-sm;
    -moz-border-radius: $radius-sm;
    -ms-border-radius: $radius-sm;
    -o-border-radius: $radius-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid $color-primary;
    background-color: $color-white;
    width: calc(33% - 20px);
    height: 48px;
    cursor: pointer;

    &-text {
      color: $color-secondary;
      font-weight: $font-weight-semibold;
      font-size: $font-size-sm;
    }
  }

  &__input {
    border: 1px solid $color-white;
    background-color: #ffffffd9;
    height: 48px;
    width: calc(33% - 20px);
    padding: 12px 10px;
    border-radius: $radius-sm;
    -webkit-border-radius: $radius-sm;
    -moz-border-radius: $radius-sm;
    -ms-border-radius: $radius-sm;
    -o-border-radius: $radius-sm;
    color: $color-secondary;
    font-size: $font-size-lg;
    &::placeholder {
      color: $color-secondary;
      font-size: $font-size-lg;
    }
  }

  .custom-select {
    width: calc(33% - 20px);
    position: relative;

    &__selected {
      border: 1px solid $color-white;
      background-color: #ffffffd9;
      height: 48px;
      padding: 12px 10px;
      border-radius: $radius-sm;
      -webkit-border-radius: $radius-sm;
      -moz-border-radius: $radius-sm;
      -ms-border-radius: $radius-sm;
      -o-border-radius: $radius-sm;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $color-secondary;
      font-size: $font-size-lg;
    }

    &__list {
      display: none;

      /* ---------- WebKit Browsers (Chrome, Edge, Safari) ---------- */
      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background: #3d4050;
        border-radius: 3px;
        box-shadow: inset 0 0 0 1px #3d4050;
      }

      &::-webkit-scrollbar-thumb {
        background: #3e9cdc;
        border-radius: 3px;
        box-shadow: inset 0 0 0 1px #3e9cdc;
      }

      /* ---------- Firefox ---------- */
      scrollbar-width: thin;
      scrollbar-color: #3e9cdc #3d4050;

      /* Force radius in Firefox */
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
      }
    }

    &.selected {
      .custom-select__selected {
        background-color: #3d4050d9;
        border: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        color: $color-white;
        border-left: 1px solid #3d4050;
        border-right: 1px solid #3d4050;
        border-top: 1px solid #3d4050;

        .custom-select__arrow {
          path {
            fill: $color-white;
          }
        }
      }

      .custom-select__list {
        border-left: 1px solid #3d4050;
        border-right: 1px solid #3d4050;
        border-bottom: 1px solid #3d4050;
        display: block;
        height: 180px;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 48px;
        background-color: #272733e5;
        width: 100%;
        z-index: 99;
        border-bottom-left-radius: $radius-sm;
        border-bottom-right-radius: $radius-sm;
        padding: 0 10px;

        .custom-select__item {
          color: $color-white;
          font-size: $font-size-lg;
          line-height: 34px;

          &:active {
            color: #42a9ed;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    .custom-select,
    &__input {
      width: calc(50% - 15px);
    }

    &__file,
    &__range {
      width: 100%;
    }

    &__title {
      font-size: $font-size-xl;
      margin-bottom: 15px;
    }

    &__subtitle {
      font-size: $font-size-base;
      margin-bottom: 40px;
    }

    &__steps-icon-wrapper {
      width: 80px;
      height: 80px;
      margin-bottom: 0;
    }

    &__steps-icon {
      max-width: 20px;
    }

    &__steps-text {
      display: none;
    }

    &__steps-item::after {
      height: 4px;
      right: -20px;
    }
  }

  @media (max-width: 576px) {
    .custom-select,
    &__input {
      width: 100%;
    }

    &__steps {
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 40px;
    }

    &__steps-item::after {
      content: none;
    }

    &__steps-icon-wrapper {
      width: 60px;
      height: 60px;
    }

    &__steps-item {
      width: auto;
    }
  }
}

// end order

// start footer

.footer {
  background-color: #3d4050;
  height: 80px;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px 40px;
  }

  &__copy {
    font-size: $font-size-xs;
    color: $color-white;
  }

  &__payments {
    display: flex;
    align-items: center;
    gap: 38px;

    &::before,
    &::after {
      content: '';
      background-color: #c3c3c3;
      width: 1px;
      height: 18px;
    }
  }

  &__payment-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #c3c3c3;
    font-size: $font-size-xs;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: $font-size-xs;
    color: $color-white;
  }

  @media (max-width: 1212px) {
    height: auto;
    padding: 20px 0;

    &__container {
      flex-direction: column;
    }

    &__copy {
      text-align: center;
    }

    &__payments,
    &__links {
      gap: 20px;
    }

    &__payments {
      flex-wrap: wrap;
      justify-content: center;

      &::before,
      &::after {
        content: none;
      }
    }
  }
}

// end footer
