// Colors palette
$color-primary: #3e9cdc;
$color-secondary: #272733;
$color-white: #ffffff;
$color-blue: #43abf0;

// Typography
$font-main: 'Lato', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$font-size-xs: 13px;
$font-size-sm: 15px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 28px;
$font-size-3xl: 36px;
$font-size-4xl: 48px;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// Border radius
$radius-sm: 3px;
$radius: 4px;
$radius-lg: 50%;
